name: Build and deploy apps for testing

on:
  workflow_dispatch:
    inputs:
      pullRequestNumber:
        description: Pull Request number for correct placement of apps
        required: true
  pull_request_target:
    types: [opened, synchronize]

env:
  DEVELOPER_DIR: /Applications/Xcode_14.0.1.app/Contents/Developer

jobs:
  validateActor:
    runs-on: ubuntu-latest
    outputs:
      IS_TEAM_MEMBER: ${{ true }}
    steps:
      - name: Run echo
        run: echo "Starts"


  getBranchHeadRef:
    runs-on: ubuntu-latest
    needs: validateActor
    if: ${{ fromJSON(needs.validateActor.outputs.IS_TEAM_MEMBER) }}
    outputs:
      HEAD_SHA: ${{steps.getHeadSha.outputs.HEAD_SHA}}
    steps:
      - name: Checkout
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - name: Check if pull request number is correct
        id: getHeadSha
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          set -e
          gh pr checkout ${{ github.event.inputs.pullRequestNumber }}
          echo "HEAD_SHA=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
  verifyHash:
    name: Build and deploy Android for testing
    needs: [validateActor, getBranchHeadRef]
    runs-on: ubuntu-latest
    env:
      BRANCH_HASH: ${{ needs.getBranchHeadRef.outputs.HEAD_SHA }}
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          ref: ${{ github.event.pull_request.head.sha || needs.getBranchHeadRef.outputs.HEAD_SHA }}
          fetch-depth: 0
      - name: Publish links to apps for download
        run: |
          gh pr comment --body \
          ":test_tube::test_tube: Use the links below to test this build in android and iOS. Happy testing! :test_tube::test_tube:"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  