name: Build and deploy apps for testing

on:
  workflow_dispatch:
    inputs:
      pullRequestNumber:
        description: Pull Request number for correct placement of apps
        required: true
  pull_request_target:
    types: [opened, synchronize]

env:
  DEVELOPER_DIR: /Applications/Xcode_14.0.1.app/Contents/Developer

jobs:
  validateActor:
    runs-on: ubuntu-latest
    outputs:
      IS_TEAM_MEMBER: ${{ true }}
    steps:
      - name: Run echo
        run: echo "Starts"

  getBranchHeadRef:
    runs-on: ubuntu-latest
    needs: validateActor
    if: ${{ fromJSON(needs.validateActor.outputs.IS_TEAM_MEMBER) }}
    outputs:
      REF: ${{steps.getHeadSha.outputs.REF}}
    steps:
      - name: Checkout
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - name: Check if pull request number is correct
        id: getHeadSha
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          set -e
          gh pr checkout ${{ github.event.inputs.pullRequestNumber }}
          echo "REF=$(git rev-parse --abbrev-ref HEAD)" >> "$GITHUB_OUTPUT"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
  verifyHash:
    name: Build and deploy Android for testing
    needs: [validateActor, getBranchHeadRef]
    runs-on: ubuntu-latest
    env:
      BRANCH_HASH: ${{ needs.getBranchHeadRef.outputs.REF }}
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          ref: ${{ github.head_ref || needs.getBranchHeadRef.outputs.REF }}
          fetch-depth: 0
      - name: maintain-comment
        uses: actions-cool/maintain-one-comment@de04bd2a3750d86b324829a3ff34d47e48e16f4b
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body-include: 'Use the links below to test this build in android and iOS. Happy testing!'
          number: ${{ github.event.number || github.event.inputs.pullRequestNumber }}
          delete: true

  throwFailure:
    name: Build and deploy Android for testing
    needs: [validateActor, getBranchHeadRef]
    runs-on: ubuntu-latest
    steps:
      - run: exit 1

  catchFailure:
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs: [validateActor, getBranchHeadRef, verifyHash, throwFailure]
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          ref: ${{ github.head_ref || needs.getBranchHeadRef.outputs.REF }}
          fetch-depth: 0
      - name: Publish links to apps for download
        uses: staszekscp/App/.github/actions/javascript/createTestBuildComment@main
        with:
          PULL_REQUEST_NUMBER: ${{ github.event.number || github.event.inputs.pullRequestNumber }}
          ANDROID: ${{ needs.throwFailure.result }}
          DESKTOP: ${{ needs.throwFailure.result }}
          IOS: ${{ needs.throwFailure.result }}
          ANDROID_LINK: ""
          DESKTOP_LINK: "sadadsfdfgdgrgdf"
          IOS_LINK: "asddsfdfg"
  